// Unfinished

.Melbourne-University-White, .Latrobe-University-White, .Forest-Hill-White {
    background-color: #FFFFFF;
    color: #1d1d1d;
}

.Bundoora {
    background-color: #2642FD;
}

.Croydon {
    background-color: #010135;
}

.Diamond-Creek {
    background-color: #CC1317;
}

.Doncaster {
    background-color: #159315;
}

.Essendon {
    background-color: #D00103;
}

.Footscray {
    background-color: #AF141C;
}

.Forest-Hill, .Forest-Hill-Gray {
    background-color: #BCBDC2;
}

.Forest-Hill-Blue {
    background-color: #023F7E;
}

.Glen-Iris {
    background-color: #050747;
}

.GMBC, .St-Kilda-Black, .Latrobe-University-Black {
    background-color: #000000;
}

.Greensborough {
    background-color: #024A18;
}

.Heathmont {
    background-color: #D3282A;
}

.Knox {
    background-color: #272262;
}

.La-Trobe-University {
    background-color: #EE1C24;
}

.Melbourne-University, .Melbourne-University-Blue {
    background-color: #214F80;
}

.Mitchell-Majors {
    background-color: #151515;
}

.Monash-University {
    background-color: #0070B2;
}

.Mordiallic {
    background-color: #2A4733;
}

.North-Balwyn {
    background-color: #FFDC28;
    color: #1d1d1d;
}

.North-Coburg-Rebels {
    background-color: #711318;
}

.Port-Melbourne {
    background-color: #00112F;
}

.Research {
    background-color: #491718;
}

.Ringwood {
    background-color: #00817B;
}

.St-Kilda, .St-Kilda-Red {
    background-color: #E31618;
}

.Watsonia {
    background-color: #CF1E20;
}

.Waverley {
    background-color: #ED2123;
}

.Westgarth {
    background-color: #BB0D2D;
}

.Werribee {
    background-color: #03234C;
}

.Wheelers-Hill {
    background-color: #F05D20;
}
