<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}

    <body>

        {%- include header.html -%}

        <main class="content" aria-label="Content">
            <div class="wrapper">
                <img src="{{ site.url }}/assets/mwbl_logo.png">
                <h2>Melbourne Winter Baseball League</h2>
                <h3>2019 Season</h3>
                <hr>
                {{ content }}
            </div>
        </main>


        {%- include footer.html -%}
    </body>
</html>
