<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}

    <body>

        {%- include header.html -%}

        <main class="content" aria-label="Content">
            <div class="wrapper">
                <a href="http://www.mwbl.com.au" target="_blank" rel="noopener"><img src="assets/mwbl_logo.png" alt="MWBL Logo"></a>
                <h2>Melbourne Winter Baseball League</h2>
                <h3>2019 Season</h3>
                <hr>
                {{ content }}
            </div>
        </main>


        {%- include footer.html -%}
    </body>
</html>
